# Node modules
node_modules/

# Environment files
.env
.config.env
*.env

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS-specific files
.DS_Store
Thumbs.db

# Optional: ignore build/dist
dist/
build/

# Optional: ignore VSCode settings
.vscode/
